// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
=fh
	font-family: "Hammersmith One", Arial, sans-serif
=fu
	font-family: "Ubuntu", Arial, sans-serif 
	
body
	+fu
	font-size: 12px 
	line-height: 1.2


// common blocks      
.wrapper

.main
	background-image: url(../img/bg.jpg) 
	background-size: cover 
	.main__center
		position: relative
		width: 960px
		height: 100vh
		margin: 0 auto
		+vertical
	.main__phone
		display: inline-block
		width: 942px
		height: 623px
		background: url(../img/main-phone.png) 
		vertical-align: middle
	.main__head
		position: absolute
		top: 80px
		left: 0
		right: 0 
		text-align: left
	.main__title
		+fh
		font-size: 92px
		color: #FFF  
	.main__title-sub
		margin-bottom: 20px
		font-size: 16px
		color: #7CCD2F

.social
	font-size: 0
	a
		display: inline-block
		margin-right: 20px 
		vertical-align: top
		&.social__fb
			+s(fb)
		&.social__tw
			+s(tw)

.appstore
	position: absolute
	right: 0
	bottom: 200px
	+s(appstore)

.gallery
	position: relative
	height: 100vh
	.gallery__green
		position: absolute
		left: 0
		right: 0
		bottom: 0
		padding: 150px 0 310px
		background: url(../img/gallery-bg.jpg)
	.gallery__list-item
		width: 160px
		height: 160px
		border: 1px solid #fff
		border-width: 1px 0 1px 1px
		font-size: 0  
	.gallery__phone
		position: absolute
		left: 50%
		bottom: 75px 
		width: 400px
		height: 798px
		margin-left: -200px
		background: url(../img/gallery-phone.png)
		font-size: 0 
		z-index: 200
	.gallery__phone-list
		position: absolute
		top: 116px
		left: 42px 
		width: 317px
		height: 565px 
		background: #fff 
	.gallery__counter
		position: absolute
		top: 70px
		font-size: 26px
		color: #4A4A4A
		text-transform: uppercase
		text-align: center
		z-index: 210 
	.gallery__counter-item
		width: 200px
		span
			position: relative
			display: block
			margin-bottom: 7px
			font-size: 66px
			color: #7CCD2F
			&:after
				content: ""
				position: absolute
				bottom: -1px
				left: 50%
				width: 100px
				height: 1px
				margin-left: -50px
				background: #000 
	.gallery__counter_users
		left: 50%
		margin-left: -480px
	.gallery__counter_deals
		right: 50%
		margin-right: -490px
	.gallery__pager
		position: absolute
		left: 50%
		bottom: 25px
		width: 300px
		margin-left: -150px
		text-align: center
		font-size: 0
		z-index: 200 
		button
			width: 24px
			height: 24px
			margin-left: 20px
			border: 6px solid rgba(255,255,255,.5)
			border-radius: 50%
			background: none
			vertical-align: top 
			+tr(all .2s linear)
			&:first-child
				margin: 0
			&.is-active
				background: rgba(255,255,255,.5)
				border-color: transparent














































	

















































	

















































	

















































	

















































	

















































	

















































	

















































	




















































